INFILENAME: /home/cfm/MITHIG/tempPlots2023/Jan04/HiForestMiniAOD_MERGED.root
#JETCOLLS:
# akPu4CaloJetAnalyzer/t
# akCs4PFJetAnalyzer/t
# akFlowPuCs4PFJetAnalyzer/t < preferred
JETCOLL: akFlowPuCs4PFJetAnalyzer/t


NCENTBINS: 4
CENTBINSLOW: 0,10,30,50
CENTBINSHIGH: 10,30,50,80

LEADINGJTPTNBINS: 50
LEADINGJTPTLOW: 400
LEADINGJTPTHIGH: 1000
LEADINGJTPTDOLOG: 1
LEADINGJTPTDOLIN: 0

SUBLEADINGJTPTNBINS: 70
SUBLEADINGJTPTLOW: 100
SUBLEADINGJTPTHIGH: 1000
SUBLEADINGJTPTDOLOG: 1
SUBLEADINGJTPTDOLIN: 0

DIJTDPHINBINS: 32
DIJTDPHILOW: 0
DIJTDPHIHIGH: 3.1416
DIJTDPHIDOLOG: 0
DIJTDPHIDOLIN: 1

DIJTAJNBINS: 16
DIJTAJLOW: 0
DIJTAJHIGH: 1.0
DIJTAJDOLOG: 0
DIJTAJDOLIN: 1
